@media (max-width: 768px){
	/*header*/
	.navbar{
		padding-top: 3px;
		padding-bottom: 3px;
	}
	.dse-sky{
		flex-direction: row;
	}
	.foo-logo{
		max-width: 300px;
	}
	
}
@media (max-width: 576px){
	/* header */
	.header-logo{
		max-width: 200px;
		margin-left: 0;
	}
}

@media (max-width: 992px){
	.top-nav {
	    border-bottom: unset;
	}
	.nav-link{
		padding-left: 15px !important;
	}
}