/**

	EBLSL


 */

:root{
	--yellow: #F6961E;
	--blue: #1F438D;
	--green: #0E8341;
	--light-blue: #43536A;
	--meri: 'Merriweather Sans', sans-serif;
	--pop: 'Poppins', sans-serif;
}


.bg-red{
	background: var(--red);
}

.bg-lgreen{
	background: var(--light-green);
}

.bg-green{
	background: var(--green);
}

.bg-dark{
	background: var(--dark);
}

/*=====================================
=            universal css            =
=====================================*/

*{
	margin: 0;
	padding: 0;
}

body{
	overflow-x: hidden;
}

a, a:hover, a:focus {
	text-decoration: none;
	color: unset;
}

a, p, span,button{
	font-family: 'Merriweather Sans', sans-serif;
}

h1, h2, h3,h4, h5, h6{
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

button:focus {
     outline: none;
}

dl, ol, ul {
     margin-bottom: 0; 
}
p {
    margin-top: 0;
    margin-bottom: 0;
}

.form-control:focus {
    border-color: #a7ce71;
    box-shadow: 0 0 0 0.2rem #a7ce717a;
}

.pt15{
	padding-top: 15px;
}
.pt30{
	padding-top: 30px;
}
.pt60{
	padding-top: 60px;
}
.pb15{
	padding-bottom: 15px;
}
.pb30{
	padding-bottom: 30px;
}
.pb60{
	padding-bottom: 60px;
}
.ptb15{
	padding-top: 15px;
	padding-bottom: 15px;
}
.ptb30{
	padding-top: 30px;
	padding-bottom: 30px;
}
.ptb60{
	padding-top: 60px;
	padding-bottom: 60px;
}
.mt15{
	margin-top: 15px;
}
.mt30{
	margin-top: 30px;
}
.mt60{
	margin-top: 60px;
}
.mb15{
	margin-bottom: 15px;
}
.mb30{
	margin-bottom: 30px;
}
.mb60{
	margin-bottom: 60px;
}
.mtb15{
	margin-top: 15px;
	margin-bottom: 15px;
}
.mtb30{
	margin-top: 30px;
	margin-bottom: 30px;
}
.mtb60{
	margin-top: 60px;
	margin-bottom: 60px;
}

.svg-ico{
	display: inline-block;
	fill: #ffffff;
}

.sec-title{
	text-transform: uppercase;
	text-align: center;
	color: var(--blue);
	display: inline-block;
}

.sec-title::after{
	content: "";
	border-bottom: 3px solid var(--yellow);
	width: calc(100% - 50%);
	display: block;
	margin: 0 auto;
	transition: 0.3s all;
}

.sec-desc{
	text-align: justify;
	text-align-last: center;
	font-family: var(--meri);
}

section:hover .sec-title::after{
	width: 75%;
}

.btn-primary {
    color: #fff;
    background-color: var(--green);
    border-color: var(--green);
}
.btn-primary:hover {
    color: #fff;
    background-color: #0e713a;
    border-color: #0e713a;
}
.btn-primary.focus, .btn-primary:focus {
	color: #fff;
	background-color: #0e713a;
	border-color: var(--green);
	box-shadow: 0 0 0 0.2rem rgb(22 116 57 / 50%);
}
.btn-primary:not(:disabled):not(.disabled):active{
	color: #fff;
	background-color: #0e713a;
	border-color: var(--green);
	box-shadow: 0 0 0 0.2rem rgb(22 116 57 / 50%);
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus{
    box-shadow: 0 0 0 0.2rem rgb(22 116 57 / 50%);
}
/*=====  End of universal css  ======*/

/*==============================
=            header            =
==============================*/

.primary-header .nav-link:hover {
    color: var(--light-blue) !important;
}

.primary-header .nav-link {
    color: #43536aa1 !important;
}

.navbar {
    padding: 0 1rem;
}

.header-logo{
	max-width: 300px;
	width: 100%;
	margin-left: 5px;
}
.navbar-light .navbar-nav.secondary-header .nav-link {
    color: #2176B6;
    font-weight: bold;
    padding: 5px 10px;
}
.navbar-light .navbar-nav.secondary-header .nav-item:hover{
		background: var(--yellow);
		border-radius: 5px;
}
.navbar-light .navbar-nav.secondary-header .nav-item:hover .nav-link{
	color: #ffffff;
}
.dse-trading{
	width: 40px;
}
.dse-mobile a{
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.3s all;
}
.dse-mobile span{
	font-size: 14px;
}
.dse-mobile:hover .nav-link{
	transform: scale(1.1);
}
.eblsl-app{
	display: flex;
	align-items: center;
	transition: 0.3s all;
}
.eblsl-app a{
	background: var(--blue);
	font-size: 11px;
	text-align: center;
	color: #ffffff !important;
	border-radius: 5px;
	transition: 0.3s all;
	font-weight: bold;
	padding: 10px;
}
.eblsl-app:hover{
	transform: scale(1.1);
}

.eblsl-app:hover a{
	    box-shadow: 0 5px 10px 0px #0000002e;
}
.investor-login{
	display: flex;
	align-items: center;
	transition: 0.3s all;
}
.investor-login a{
	background: var(--yellow);
	font-size: 11px;
	text-align: center;
	color: #ffffff !important;
	border-radius: 5px;
	font-weight: bold;
	transition: 0.3s all;
}
.investor-login:hover{
	transform: scale(1.1);
}
.investor-login:hover a{
	        box-shadow: 0 5px 10px 0px #0000002e;
}
.eblsl-app .nav-link, .investor-login .nav-link  {
    padding-right: 10px;
    padding-left: 10px;
}
.other-menu-bar{
	background: gray;
	width: 2px;
	height: 70%;
	margin: 0 15px;
}
/*=====  End of header  ======*/


/*==============================
=            footer            =
==============================*/

.footer{
	background: url('../images/footer-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.foo-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ffffff;
	top: 0;
	left: 0;
	opacity: 0.5;
}
.quick-links li:hover{
	color: var(--blue);
	text-decoration: underline;
}

.social-ico svg{
	font-size: 28px;
	padding: 0 7px;
	fill: var(--blue);
}
.quick-link-label{
	font-size: 20px;
	font-weight: bold;
	font-family: "Poppins", sans-serif;
	color: var(--blue);
}
.map{
	width: 100%;
	height: 150px;
	border: 1px solid var(--blue);
	border-radius: 15px;
}
/*=====  End of footer  ======*/

