@media (max-width: 768px){
	/*header*/
	.navbar{
		padding-top: 3px;
		padding-bottom: 3px;
	}
	.dse-sky{
		flex-direction: row;
	}
}

@media (max-width: 992px){
	.foo-logo{
		max-width: 300px;
	}

	.footer .contact-info-wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 15px;
	}

	.footer .contact-info-wrapper .content .icon {
	    justify-content: center;
	    align-items: center;
	    left: 50%;
	    transform: translateX(-50%);
	    top: -17px;
	    background: #ffffff;
	    color: var(--blue);
	}
	.footer .contact-info-wrapper .content:not(:last-child){
		margin-bottom: 30px;
	}
	.footer .contact-info-wrapper .content{
	    margin-left: unset;
	    padding: 20px 15px 10px 15px;
	    text-align: center;
	}
	.sitemap label{
		justify-content: center;
	}
	.sitemap .fa-caret-down{
		margin-left: 15px;
	}
	.footer .contact-info-wrapper .content .info {
	    padding-left: unset;
	}
}

@media (max-width: 576px){
	/* header */
	.header-logo{
		max-width: 200px;
		margin-left: 0;
	}
}

