@media (max-width: 1200px){
	.foreign-investment-mobile{
		display: block;
	}
	.foreign-investment-mobile .message.right{
		text-align-last: unset;
	}
}
@media (min-width: 1200px){
	.foreign-investment{
		display: block;
	}
}
@media (max-width: 992px){
	.foreign-investment-mobile .icon{
		text-align: center;
	}
	.foreign-investment-mobile .icon img{
		width: 200px;
	}
	.carousel-item img{
		width: unset;
	}
}