/**

	EBLSL


 */

:root{
	--yellow: #F6961E;
	--blue: #1F438D;
	--green: #0E8341;
	--light-blue: #43536A;
	--para: 'Lato', sans-serif;
	--head: 'Montserrat', sans-serif;
}


.bg-red{
	background: var(--red);
}

.bg-lgreen{
	background: var(--light-green);
}

.bg-green{
	background: var(--green);
}

.bg-dark{
	background: var(--dark);
}

/*=====================================
=            universal css            =
=====================================*/

*{
	margin: 0;
	padding: 0;
}

body{
	overflow-x: hidden;
	font-family: var(--para);
	font-weight: 400;
	background: url('../images/bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	position: relative;
}

.body-overlay{
	background-color: rgb(255 255 255 / 80%);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

a, a:hover, a:focus {
	text-decoration: none;
	color: unset;
}

a:hover{
	text-decoration: underline;
	color: var(--blue);
}

h1, h2, h3,h4, h5, h6{
	font-family: var(--head);
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

button:focus {
     outline: none;
}

dl, ol, ul {
     margin-bottom: 0; 
}
p {
    margin-top: 0;
    margin-bottom: 0;
}

hr{
	margin: 0;
	padding: 0;
}

.form-control:focus {
    border-color: var(--blue);
    box-shadow: 0 0 0 0.2rem rgb(38, 41, 44 / 50%);
}

.pt15{
	padding-top: 15px;
}
.pt30{
	padding-top: 30px;
}
.pt60{
	padding-top: 60px;
}
.pb15{
	padding-bottom: 15px;
}
.pb30{
	padding-bottom: 30px;
}
.pb60{
	padding-bottom: 60px;
}
.ptb15{
	padding-top: 15px;
	padding-bottom: 15px;
}
.ptb30{
	padding-top: 30px;
	padding-bottom: 30px;
}
.ptb60{
	padding-top: 60px;
	padding-bottom: 60px;
}
.mt15{
	margin-top: 15px;
}
.mt30{
	margin-top: 30px;
}
.mt60{
	margin-top: 60px;
}
.mb15{
	margin-bottom: 15px;
}
.mb30{
	margin-bottom: 30px;
}
.mb60{
	margin-bottom: 60px;
}
.mtb15{
	margin-top: 15px;
	margin-bottom: 15px;
}
.mtb30{
	margin-top: 30px;
	margin-bottom: 30px;
}
.mtb60{
	margin-top: 60px;
	margin-bottom: 60px;
}

.svg-ico{
	display: inline-block;
	fill: #ffffff;
}

.sec-title{
	text-transform: uppercase;
	text-align: center;
	color: var(--blue);
	display: inline-block;
}

.sec-title::after{
	content: "";
	border-bottom: 3px solid var(--blue);
	width: calc(100% - 50%);
	display: block;
	margin: 0 auto;
	transition: 0.3s all;
}

.sec-desc{
	text-align: justify;
	text-align-last: center;
	font-family: var(--para);
}

section:hover .sec-title::after{
	width: 75%;
}

.btn-primary {
    color: #fff;
    background-color: var(--blue);
    border-color: var(--blue);
}
.btn-primary:hover {
    color: #fff;
    background-color: #132956;
    border-color: #132956;
}
.btn-primary.focus, .btn-primary:focus {
	color: #fff;
	background-color: #132956;
	border-color: var(--blue);
	box-shadow: 0 0 0 0.2rem rgb(38, 41, 44 / 50%);
}
.btn-primary:not(:disabled):not(.disabled):active{
	color: #fff;
	background-color: #132956;
	border-color: var(--blue);
	box-shadow: 0 0 0 0.2rem rgb(38, 41, 44 / 50%);
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus{
    box-shadow: 0 0 0 0.2rem rgb(38, 41, 44 / 50%);
}
.form-control{
	padding: 1.375rem 0.75rem;
	border-radius: 0;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: var(--blue);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255 255 255);
    background: var(--blue);
}

#home #hm, #buySell #bso, #fundDepot #fd, #fundWith #fw, #ipoMan #im, #ledger #led, #portfolio #port, #taxCer #tc, #profileUpdate #pu, #tagAcc #ta{
	color: rgb(255 255 255);
	background: var(--blue);
}

.form-control{
	display: unset;
	height: unset; 
	padding: 5px 10px;
	font-size: unset; 
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.ui-widget-header {
    border: 1px solid #ddd;
    background: var(--blue);
    color: #fff;
    font-weight: bold;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight{
	border: 1px solid #1F438D;
	    background: #73A1FF;
	    color: #173268;
}
.ui-state-active, .ui-widget-content .ui-state-active{
	border: 1px solid #0E224A;
	    background: var(--blue);
	    font-weight: bold;
	    color: #fff;
}

.circle-info{
	height: 16px;
	fill: var(--blue);
	margin-right: 10px;
}

.investor-code-selection{
	background: #ffffff;
	padding: 15px;
	border: 1px solid lightgray;
}

.investor-code-selection div{
	display: flex;
	align-items: center;
}

.investor-code-selection p{
	color: var(--blue);
}

/*=====  End of universal css  ======*/

/*============================================
=            portal header            =
============================================*/

.logo{
	width: 100%;
	max-width: 200px;
}

.top-nav{
	border-bottom: 1px solid lightgray;
}

.bottom-nav .navbar-nav{
	flex-basis: 100%;
	justify-content: space-between;
}

.bottom-nav .navbar-nav .nav-item:not(:last-child){
	border-right: 1px solid #dddddd;
	padding-right: 10px;
}

.my-account{
	border: 1px solid var(--blue);
	font-weight: bold;
}

.navbar-light .navbar-nav .my-account .nav-link{
	color: var(--blue);
}

.navbar-light .navbar-nav .my-account .nav-link:hover{
	color: #ffffff;
} 
/*=====  End of portal header  ======*/

/*========================================
=            responsive #E38A1C            =
========================================*/

.table-header{
	background: var(--blue);
	font-family: var(--head);
	color: #ffffff;
}

.table-header span{
	display: flex;
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.table-data span{
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.table-data{
	background: #eeeeee;
}

.table-data:not(:last-child){
	border-bottom: 1px solid lightgray;
}

.table-header span:not(:last-child){
	border-right: 1px solid #ffffff;
}

.table-data .data:not(:last-child){
	border-right: 1px solid lightgray;
}

/*=====  End of responsive table  ======*/
