@media (max-width: 992px){
	/*table*/
	.table-header{
		display: none;
	}
	.table-data{
		background: #ffffff !important;
		padding: 15px;
		border: 1px solid lightgray;
	}
	.table-data .th{
		font-family: var(--head);
		color: var(--blue);
	}
	.table-data .data{
		display: flex;
		flex-direction: column;
	}
	.data .th, .data .td{
		padding: 0;
	}
	.data{
		padding-top: 7px;
		padding-bottom: 7px
	}
	/*header*/
	.top-nav {
	    border-bottom: unset;
	}
	.nav-link{
		padding-left: 15px !important;
	}
	.table-data:not(:first-child){
		margin-top: 15px;
	}
	.bottom-nav .navbar-nav .nav-item:not(:last-child){
		border-right: unset;
		padding-right: unset;
	}
}

@media (min-width: 992px){
	.th{
		display: none;
	}
}